/* .background{
    background-image: url("https://i.pinimg.com/originals/6b/6e/6a/6b6e6ad625caf5cfe546a67a2f545231.gif");
    height: 800px;
  width: 100%;
} */

.background{
    background-image: url("src\assets\image\home_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
}