<div class="bg">
<app-nav [links]="['Questions', 'NewQuestions']" [isHome]="true"></app-nav>
<div  style="margin-top: 10vh; max-width: 50vw; margin-left: 25vw">
  <mat-card>
    <mat-card-title>Questions</mat-card-title>
  </mat-card>
  <div style="margin-top: 5vh">
    <mat-card *ngIf="data.length > 0">
      <mat-action-list>
        <div>
          <div *ngFor="let item of data">
            <button mat-list-item>
              <mat-card-content matLine>
                <b>{{ item.question }} ?</b>
              </mat-card-content>
              <mat-card-content matLine
                >By: {{ item.userName }}</mat-card-content
              >
              <mat-card-content matLine
                >Asked on : {{ item.created }}</mat-card-content
              >
              <mat-card-content matLine
                >Topic : {{ item.topic }}</mat-card-content
              >
              <mat-card-content matLine
                >Answer : {{ item.answer }}</mat-card-content
              >
              <button mat-raised-button color="warn" (click)="delete(item.id)">
                Delete
              </button>
            </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-action-list>
    </mat-card>
    <mat-card *ngIf="data.length === 0">
      <mat-card-subtitle style="margin-left: 15vw"
        ><em>There are no questions</em>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>
</div>

