
.background{
    background-image: url("src\assets\image\home_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
}

/* Footer css */
.footer{
    height: 100px;
    width: 25%;
    align-items: center;
    float:left;
    right: 150px;
    
}
.copyright{
    float:left;
    right:150px;

}