<div class="background">
<app-nav [isHome]="false"></app-nav>
<app-title
  title="Hey, Welcome To DoConnect"
></app-title>
<div style="max-width: 20%; margin-left: 75%; top: 30%; position: absolute">
  <app-login></app-login>
</div>
<!-- subtitle="Do you have any Question, Ask me here" -->



<div style="max-width: 30%; margin-right: 100%; top: 60%; position: absolute">
  
</div>
</div>
<!-- <div class="footer">
  <div class="copyright">
     <img src="https://www.lifewire.com/thmb/0keMNYRgoK3UtHrWlzovASAupjo=/1071x768/filters:fill(auto,1)/001_2688246-5b916f32c9e77c0025c0cc9c.jpg" width="50" height="50">
    </div>

    <div class="copyright">
      <img src="https://www.lifewire.com/thmb/0keMNYRgoK3UtHrWlzovASAupjo=/1071x768/filters:fill(auto,1)/001_2688246-5b916f32c9e77c0025c0cc9c.jpg" width="50" height="50">

    </div>
    <div class="copyright">
      <img src="https://www.lifewire.com/thmb/0keMNYRgoK3UtHrWlzovASAupjo=/1071x768/filters:fill(auto,1)/001_2688246-5b916f32c9e77c0025c0cc9c.jpg" width="50" height="50">

    </div>

</div> -->
