<app-nav
  [isHome]="true"
  [links]="['UserQuestions', 'Chat', 'AskQuestion']"
></app-nav>
<div style="margin-top: 20vh; margin-left: 37vw">
  <h1 style="font-size: xxx-large">Welcome {{ user }}..!</h1>
</div>

